body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

.map {
    height: calc(100% - 30px);
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: salmon;
    cursor: pointer;
}
